<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <img class="logo" src="<%= asset_path('water-drop.png') %>">
                </i> <span class="light">Water</span> Crowdsourcing
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#map">Map</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <% if logged_in? %>
                    <li>
                        <a href="<%= edit_user_path %>" class="edit-profile-btn">Edit Profile</a>
                    </li>
                    <li>
                        <a href="<%= logout_path %>" class="logout-btn" data-method="delete">Logout</a>
                    </li>
                <% else %>
                    <li class="dropdown" id="login-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="login-dropdown">
                            <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Login via
                                    <div class="social-buttons">
                                        <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                        <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                                    </div> -->
                                    <form class="form form-login" id="login-form" role="form" method="post" action="login" accept-charset="UTF-8">
                                        <div class="form-group login-email-form">
                                            <label class="sr-only" for="login-email">Email address</label>
                                            <input type="email" name="email" class="form-control" id="login-email" placeholder="Email address" required>
                                        </div>
                                        <div class="form-group login-password-form">
                                            <label class="sr-only" for="login-password">Password</label>
                                            <input type="password" name="password" class="form-control" id="login-password" placeholder="Password" required>
                                            <div class="help-block text-right"><a href="">Forget the password?</a></div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox"> keep me logged-in
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="dropdown" id="signup-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Sign Up</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="signup-dropdown">
                            <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- register via
                                    <div class="social-buttons">
                                        <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                        <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                                    </div> -->
                                    <form class="form" id="signup-form" role="form" method="post" action="signup" accept-charset="UTF-8">
                                            <div class="form-group signup-email-form">
                                                <label class="sr-only" for="signup-email">Email address</label>
                                                <input type="email" name="user[email]" class="form-control" id="signup-email" placeholder="Email address" required>
                                            </div>
                                            <div class="form-group signup-password-form">
                                                <label class="sr-only" for="signup-password">Password</label>
                                                <input type="password" name="user[password]" class="form-control" id="signup-password" placeholder="Password" required>
                                                <input type="password" name="user[password_confirmation]" class="form-control" id="signup-password_confirmation" placeholder="Confirm password" required>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                                            </div>
                                    </form>
                                </div>
                            </div>
                            </li>
                        </ul>
                    </li>

                <% end %>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Crowdsourcing Water</h1>
                    <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel ipsum semper, venenatis magna tristique, mollis urna.</p>
                    <a href="#about" class="about-btn btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Grayscale</h2>
            <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
            <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
        </div>
    </div>
</section>

<!-- Map Section -->
<div id="map"></div>

<!-- Download Section -->
<!-- <section id="map" class="content-section text-center">
    <div class="map-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>map Grayscale</h2>
                <p>You can map Grayscale for free on the preview page at Start Bootstrap.</p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
            </div>
        </div>
    </div>
</section> -->

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Start Bootstrap</h2>
            <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
            <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Your Website 2016</p>
    </div>
</footer>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<%= javascript_include_tag('vendor/grayscale') %>

<script type="text/javascript">

    var displayErrors = function(errors) {
        _.forOwn(errors, function(error_msg, error_type) {
            $errorField = $('.' + error_type);

            if (!$errorField.hasClass('error')) {
                var errorDOM = '<span class="error-message">' + error_msg + '</span>';
                $errorField.addClass('error').append(errorDOM);
            }
        });

        $('.error input').click(function(e) {
            var $errorField = $(this).parents('.error');
            $errorField.removeClass('error');
            $errorField.find('span').remove();
        });
    };

    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();

        $('#signup-form').submit(function(e) {
            e.preventDefault();
            
            var csrf_param = $('meta[name="csrf-param"]').attr('content');
            var csrf_token = $('meta[name="csrf-token"]').attr('content');
            var params = $(this).serialize();
            var url = $(this).attr('action');

            var ajaxOptions = {
                url: url,
                type: "POST",
                data: params,
                headers: { 'X-CSRF-Token': csrf_token },
                crossDomain: true,
                xhrFields: {
                  withCredentials: true
                },
                success: function(data, status, xhr) {
                    window.location.href = data['redirect_url'];
                },
                error: function(xhr, status, err) {
                    displayErrors(xhr.responseJSON.errors);

                }
            };
            $.ajax(ajaxOptions);
        });


        $('#login-form').submit(function(e) {
            e.preventDefault();
            
            var csrf_param = $('meta[name="csrf-param"]').attr('content');
            var csrf_token = $('meta[name="csrf-token"]').attr('content');
            var params = $(this).serialize();
            var url = $(this).attr('action');

            var ajaxOptions = {
                url: url,
                type: "POST",
                data: params,
                headers: { 'X-CSRF-Token': csrf_token },
                crossDomain: true,
                xhrFields: {
                  withCredentials: true
                },
                success: function(data, status, xhr) {
                    window.location.href = data['redirect_url'];
                },
                error: function(xhr, status, err) {
                    displayErrors(xhr.responseJSON.errors);
                }
            };
            $.ajax(ajaxOptions);
        });


    });
</script>