<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Crowdsourcing Water</h1>
                    <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel ipsum semper, venenatis magna tristique, mollis urna.</p>
                    <a href="#about" class="about-btn btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Grayscale</h2>
            <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
            <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
        </div>
    </div>
</section>

<!-- Map Section -->
<div id="map"></div>

<!-- Download Section -->
<!-- <section id="map" class="content-section text-center">
    <div class="map-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>map Grayscale</h2>
                <p>You can map Grayscale for free on the preview page at Start Bootstrap.</p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
            </div>
        </div>
    </div>
</section> -->

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Start Bootstrap</h2>
            <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
            <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<%= javascript_include_tag('vendor/grayscale') %>

<script type="text/javascript">

    var displayErrors = function(errors) {
        _.forOwn(errors, function(error_msg, error_type) {
            $errorField = $('.' + error_type);

            if (!$errorField.hasClass('error')) {
                var errorDOM = '<span class="error-message">' + error_msg + '</span>';
                $errorField.addClass('error').append(errorDOM);
            }
        });

        $('.error input').click(function(e) {
            var $errorField = $(this).parents('.error');
            $errorField.removeClass('error');
            $errorField.find('span').remove();
        });
    };

    $(document).ready(function () {

        $('#signup-form').submit(function(e) {
            e.preventDefault();
            
            var csrf_param = $('meta[name="csrf-param"]').attr('content');
            var csrf_token = $('meta[name="csrf-token"]').attr('content');
            var params = $(this).serialize();
            var url = $(this).attr('action');

            var ajaxOptions = {
                url: url,
                type: "POST",
                data: params,
                headers: { 'X-CSRF-Token': csrf_token },
                crossDomain: true,
                xhrFields: {
                  withCredentials: true
                },
                success: function(data, status, xhr) {
                    window.location.href = data['redirect_url'];
                },
                error: function(xhr, status, err) {
                    displayErrors(xhr.responseJSON.errors);

                }
            };
            $.ajax(ajaxOptions);
        });


        $('#login-form').submit(function(e) {
            e.preventDefault();
            
            var csrf_param = $('meta[name="csrf-param"]').attr('content');
            var csrf_token = $('meta[name="csrf-token"]').attr('content');
            var params = $(this).serialize();
            var url = $(this).attr('action');

            var ajaxOptions = {
                url: url,
                type: "POST",
                data: params,
                headers: { 'X-CSRF-Token': csrf_token },
                crossDomain: true,
                xhrFields: {
                  withCredentials: true
                },
                success: function(data, status, xhr) {
                    window.location.href = data['redirect_url'];
                },
                error: function(xhr, status, err) {
                    displayErrors(xhr.responseJSON.errors);
                }
            };
            $.ajax(ajaxOptions);
        });


    });
</script>