<div class="container">
	<div class="row">
		<% if flash[:notice] %>
			<div class="alert alert-danger"><%= flash[:notice] %></div>
		<% end %>
		<div id="water-reports-map"></div>
	</div>
</div>

<script type="text/javascript">

	function drawSingleMapMarkers(map_data) {
		var bounds = new google.maps.LatLngBounds();
		var markerColor = '';

		_.each(map_data, function(data) {
			var position = new google.maps.LatLng(data['lat'], data['lng']);
			bounds.extend(position);

			var infoWindowContent = 
				'<div class="info-window"' +
					'<div class="title"><h3><a href="' + data['report_url'] + '">' + data['report_type'] + '</a></h3></div>' +
					'<div class="content">' +
						'<p>Reporter: ' + data['reporter_name'] + '</p>' +
						'<p>Latitude: ' + data['lat'] + ' / Longitude: ' + data['lng'] + '</p>' + 
						'<p>Water condition: ' + data['water_condition'] + '</p>';
			if (data['virus_ppm'] === undefined) {
				infoWindowContent += '<p>Water type: ' + data['water_type'] +
					'</p></div></div>';
				markerColor = '#56a0d3';
			} else {
				infoWindowContent += '<p>Virus ppm: ' + data['virus_ppm'] + '</p>' +
					'<p>Contaminant ppm: ' + data['contaminant_ppm'] + '</p></div></div>';
				markerColor = '#fa5c4f';
			}

			var infoWindow = new google.maps.InfoWindow({
				content: infoWindowContent
			});

			// if virus_ppm is undefined, put data for a water purity report
			// else put data for a water source report
			var marker = new google.maps.Marker({
				position: position,
				map: window.waterReportMap,
				icon: {
					path: fontawesome.markers.MAP_MARKER,
					scale: 0.8,
					strokeWeight: 1,
					strokeColor: '#404040',
					strokeOpacity: 1,
					fillColor: markerColor,
					fillOpacity: 1,
				}
			});

			marker.addListener('click', function() {
				infoWindow.open(window.waterReportMap, marker);
			});


			// Keeps enough distance of a map for single marker
			if (bounds.getNorthEast().equals(bounds.getSouthWest())) {
			var extendPoint1 = new google.maps.LatLng(bounds.getNorthEast().lat() + 0.01, bounds.getNorthEast().lng() + 0.01);
			var extendPoint2 = new google.maps.LatLng(bounds.getNorthEast().lat() - 0.01, bounds.getNorthEast().lng() - 0.01);
				bounds.extend(extendPoint1);
				bounds.extend(extendPoint2);
			}
			window.waterReportMap.fitBounds(bounds);
		});
	}

	function drawMarkers() {
		var url = '/water_reports.json';
		$.ajax({
			url: url,
			type: 'GET',
			success: function(data, status, xhr) {
				drawSingleMapMarkers(data);
			},
		})
	}

	$('document').ready(function() {

	    window.initMap = function() {
			window.waterReportMap = new google.maps.Map(document.getElementById('water-reports-map'), {
				zoom: 10,
				center: { lat: 33.7490, lng: 84.3880 },
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				mapTypeControl: false,
				zoomControl: true,
				zoomControlOptions: {
					position: google.maps.ControlPosition.TOP_RIGHT
				},
			});
			drawMarkers();
		};

    });
</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEeXl5Prt_xeE_NKh4oWUFQyPI9Y1IZEE&callback=initMap"></script>