.submit-form {
    border-radius: 5px;
    margin: auto;
    padding: 25px;
    background-color: #fff;
    width: 50%;

    label {
        color: rgba(0,0,0,0.8);
    }

    .btn[type=submit] {
        width: 100%;
    }
}